.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 15px;
  /* Espacio entre el logo y el título */
}

.header-brand img {
  /* Limita la altura de la imagen para que no sea más alta que el texto */
  max-height: 40px;
}

.header-brand h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #343a40;
}